{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Slug</th>
            <th>Price</th>
        </thead>

        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.slug }}</td>
                    <td>{{ product.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
