{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-md-6 text-center">
          <h1>{{ product.name }}</h1>
          <h3>{{ product.price }} €</h3>
        </div>
        <div class="col-md-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque temporibus odio ipsam molestias! Mollitia sapiente voluptatum culpa ad, suscipit earum commodi doloribus eos velit, aliquam assumenda, inventore perspiciatis est dolorum.</p>
        </div>
      </div>

      <div class="text-center">
        <a href="#" class="btn btn-info">Commander le produit</a>
      </div>
    </div>
{% endblock %}
